a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.centerblock__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
  gap: 10px;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  text-align: center;
  position: relative;
}

._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btn-text:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

.filter-active-button {
  border-color: #ad61ff;
  color: #ad61ff;
}

.filter-popup {
  margin-top: 10px;
  width: 248px;
  height: 305px;
  border-radius: 12px;
  background: #313131;
  display: flex;
  flex-direction: column;
  padding: 34px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  overflow-y: auto;
  position: absolute;
}

.filter-popup li:hover {
  color: #b672ff;
  text-decoration-line: underline;
}

.filter-popup-scrollable {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 28px;
  list-style: none;
  padding: 0;
  max-height: 237px;

  /* Стили для полосы прокрутки */
  scrollbar-color: #ffffff #4b4949; /* Для Firefox */
  scrollbar-width: thin; /* Для Firefox */
}

/* Стили для полосы прокрутки в WebKit-браузерах (Chrome, Safari) */
.filter-popup-scrollable::-webkit-scrollbar {
  width: 4px;
}

.filter-popup-scrollable::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Цвет ползунка скроллбара сверху */
}

.filter-popup-scrollable::-webkit-scrollbar-track {
  background-color: #4b4949; /* Цвет трека (фона) скроллбара снизу */
}